<form action="" class="form" [formGroup]='addres' (change)='changeThis()'>
    <input type="text" placeholder="City/Provinse" formControlName='city'>
    <div class="errors">
        <p *ngIf="addres.controls.city.hasError('required') && inputTrue ">City/Provinse is empty!!!</p>   
    </div>
    <input type="text" placeholder="Stret Name" formControlName='stretName'>
    <div class="errors">
        <p *ngIf="addres.controls.stretName.hasError('required') && inputTrue ">Stret Name is empty!!!</p>   
    </div>
    <input type="text" placeholder="Appartment" formControlName='appartment'>
    <div class="errors">
        <p *ngIf="addres.controls.appartment.hasError('required') && inputTrue ">Appartment is empty!!!</p>   
    </div>
</form>