<div class="stepFour">
    <p>User Name: <strong>{{stepOneArray.userName}}</strong></p>
    <p>Email: <strong>{{stepOneArray.email}}</strong></p>
    <p>Card Number:<strong>{{cardObject.cardNumber}}</strong></p>
    <p>Owner:<strong>{{cardObject.owner}}</strong></p>
    <p>Cvv:<strong>{{cardObject.cw}}</strong></p>
    <p>Expiration:<strong>{{cardObject.expiration}}</strong></p>
    <p>City/Province:<strong>{{addresObject.city}}</strong></p>
    <p>Stret Name:<strong>{{addresObject.stretName}}</strong></p>
    <p>Appartment:<strong>{{addresObject.appartment}}</strong></p>
</div>