<form action="" class="cardList" (ngSubmit)="nextStepThree()" class="form">
    <div class="addCard">
        <button type="button" (click)="addCardList()">Add credit card</button>
    </div>
    <app-credit-card *ngFor="let cardList of creditCardList" [inputTrue]='inputTrue'></app-credit-card>
    <div class="addCard">
        <button type="button" (click)='addAddres()'>Add biling addres</button>
    </div>
    <app-addres *ngIf="addresOpen"></app-addres>
    <div class="nextThree">
        <button type="button" (click)="backToStepOne()">Back</button>
        <button (click)="inputTrue=true">Next</button>
    </div>
</form>